.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  position: relative;
  /* width: 80vw;
  margin: 0 auto; */
}
.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: tomato;
  z-index: -10;
  clip-path: circle(50% at 0 50%);
}

.social-form {
  /* display: grid;
  place-content: center; */
  margin: auto 0;
  position: relative;
}
.social-form::after {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-color: tomato;
  opacity: 0.4;
  z-index: -10;
  transform: rotate(35deg);
}

.contact-form {
  width: 100%;
  min-width: 400px;
  /* background-color: red; */
  display: grid;
  place-content: center;
  height: calc(100vh - 150px);
  font-size: 24px;
  color: white;
}
.contact-form .title {
  margin-bottom: 70px;
  font-size: 35px;
  text-align: center;
  text-transform: capitalize;
}
form button {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 15px 30px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  transition: all 0.4s linear;
}

form button:hover {
  color: tomato;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  margin: 10px 0;
  font-size: 20px;
}
hr {
  margin-bottom: 20px;
}
