.guide {
  background-color: rgba(63, 196, 196, 0.188);
  height: auto;
}
.search {
  display: grid;
  place-content: center;
  height: 150px;
}
.search input {
  min-width: 500px;
  border: none;
  border-radius: 6px;
}
button {
  padding: 10px 30px;
  font-size: 24px;
  cursor: pointer;
}
.guide-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  min-height: 100px;
  padding: 20px 30px;
  margin: 30px 0;
  /* background-color: tomato; */
}
.content-card {
  border-radius: 8px;
  font-size: 16px;
  display: inline-block;
  /* width: 30%; */
  height: 350px;
  background-color: rgba(114, 27, 27, 0.199);
  display: grid;
  place-content: center;
  text-align: center;
  padding: 10px 5px;
}
.content-card img {
  width: 90px;
  margin: 0 auto 10px;
}
.content-card h2 {
  margin-bottom: 10px;
  color: black;
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: white; /* color: white; */
}
