* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
  /* position: relative; */
  min-height: 100%;
}
.content {
  width: 100%;
  min-height: calc(100vh - 150px);
}
